// colors 
$green-whats: rgb(17, 177, 17);
$cl-primary: #007bff;
$cl-danger: #dc3545;
$cl-success: #28a745;
$cl-warning: #ffc107;
$cl-info: #17a2b8;

$cl-secondary: #6c757d;
$cl-gray-dark: #343a40;
$dark1: #333;
$dark-light: rgb(97, 97, 97);
$darkTheme2: black;

$cl-light: #ffff;
$cl-light2: #f8f9fa;

$cl-soft-light:  rgba(128, 128, 128, 0.253);