// colors 
$green-whats: rgb(17, 177, 17);
$cl-primary: #007bff;
$cl-danger: #dc3545;
$cl-success: #28a745;
$cl-warning: #ffc107;
$cl-info: #17a2b8;

$cl-secondary: #6c757d;
// $cl-dark: #1c1e1f;
$cl-dark: #444;
$cl-dark-2: #444;
$cl-gray-dark: #343a40;
$dark1: #333;
$dark-light: rgb(97, 97, 97);
$darkTheme2: black;
$dark-theme: #1c1e1f;
$white-theme: #ffff;
$dark-table: #1c1e1f;
$dark-table-hover: #343a40;
// $dark-table-hover: #585858;

$cl-light: #ffff;
$cl-light2: #f8f9fa;

$cl-soft-light:  rgba(128, 128, 128, 0.253);