
.items-container {

    display: grid;
    grid-template-columns: repeat(3, 1fr);

    gap: 0.5rem;

    // * article
    .item {
        color: white;
        background-color: rgb(41, 41, 54);
        border: 1px solid white;
        border-radius: 25px;
        display: grid;
        padding: 12px;

        // * Grid position item
    }

    // * img
    .item-image {

        // -- Responsive Image
        width: 100%;
        height: 160px;
        object-fit: contain;

        margin: 0px auto;

    }

    .item-body {
        width: 100%;
        text-align: justify;
        margin: 0 auto;
        margin-top: auto;
    }

}

.item-form-group{
    width: 100%;
    margin: 0 auto;

        input, button{
            width: 100%;
            margin: 0 auto;
        }
        
        input{
            margin-bottom: 12px;
        }

}

// -- medias
@media (max-width: 991px) {

    .items-container {
       grid-template-columns: repeat(2, 1fr);
    }


}

@media (max-width: 520px) {

    .items-container {
       grid-template-columns: repeat(1, 1fr);
       gap: 1rem;
    }


}
